<div class="background">
  <div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <h2 class="mt-0 text-white">Fale Comigo!</h2>
            <hr class="divider my-4" />
            <p class="text-white mb-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia cum sunt eveniet rem, laborum eum vero natus eaque beatae a nobis dolorum suscipit</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
            <i class="fas fa-phone fa-2x mb-3 text-white">&nbsp;Telefone</i>
            <hr class="divider my-4" />
            <div class="text-white">+55 (11) 9999-9999</div>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fas fa-envelope fa-2x mb-3 text-white">&nbsp;Por e-mail</i>
              <hr class="divider my-4" />
          <a class="d-block text-white" href="mailto:Lorem-ipsum@Lorem.com.br">Lorem-ipsum@Lorem.com.br</a>
      </div>
        <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
            <i class="fab fa-whatsapp fa-2x mb-3 text-white">&nbsp;Por WhatsApp</i>
            <hr class="divider my-4" />
            <div  class="text-white">+55 (11) 9999-9999</div>
        </div>
    </div>
  </div>
</div>
