<div class="background">
  <h1 class="text-white text-center py-5">Meus Trabalhos</h1>
  <div class="container py-5">
    <div class=" row">
      <div class="col-lg-3 col-md-4 col-xs-6 text-center">
        <img src="../../../assets/Images/Gallery/1.jpg" alt="" class="img-fluid ">
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 text-center">
        <img src="../../../assets/Images/Gallery/2.jpg" alt="" class="img-fluid ">
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 text-center">
        <img src="../../../assets/Images/Gallery/3.jpg" alt="" class="img-fluid ">
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 text-center">
        <img src="../../../assets/Images/Gallery/4.jpg" alt="" class="img-fluid ">
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 text-center">
        <img src="../../../assets/Images/Gallery/5.jpg" alt="" class="img-fluid ">
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 text-center">
        <img src="../../../assets/Images/Gallery/6.jpeg" alt="" class="img-fluid ">
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 text-center">
        <img src="../../../assets/Images/Gallery/7.jpg" alt="" class="img-fluid ">
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 text-center">
        <img src="../../../assets/Images/Gallery/8.jpg" alt="" class="img-fluid ">
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 text-center">
        <img src="../../../assets/Images/Gallery/9.jpg" alt="" class="img-fluid ">
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 text-center">
        <img src="../../../assets/Images/Gallery/10.jpg" alt="" class="img-fluid ">
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 text-center">
        <img src="../../../assets/Images/Gallery/11.jpg" alt="" class="img-fluid ">
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 text-center">
        <img src="../../../assets/Images/Gallery/12.jpg" alt="" class="img-fluid ">
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 text-center">
        <img src="../../../assets/Images/Gallery/13.jfif" alt="" class="img-fluid ">
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 text-center">
        <img src="../../../assets/Images/Gallery/14.jpg" alt="" class="img-fluid ">
      </div>
    </div>
  </div>
</div>

